{% extends "base/base_tmp.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content_news %}
    <div class="news-grid">
        {% for news in list_news %}
        <article class="news-box">
            <div class="news-header">
                <h3 class="news-title">{{ news.author }}</h3><h4>{{ news.date }}</h4>
            </div>
            <summary class="news-summary">{{ news.description }}</summary>
            <button class="read-more" onclick="window.open('{{ news.url }}', 'blank')">Источник</button>
            <div class="article-content" id="article-{{ forloop.counter }}">
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}
{% block content_user %}
{% if user.is_authenticated %}
    <h1>Hello World</h1>
    <h1>{{ user.get_username }}</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
{% else %}
  <div class="auth-window">
    <h2>Вход или Регистрация</h2>
    <form method="post" action="{% url 'base:login' %}">
      {% csrf_token %}
        {% if form.non_field_errors %}
        <p style="font: italic;margin-bottom: 10px; color: red">Не правильный логин или пароль</p>
        {% endif %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
          {{ form.username }}
      </div>
      <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Пароль:</label>
          {{ form.password }}
      </div>
      <button type="submit" class="btn">Войти</button><a href="{% url 'base:register' lang=lang %}" style="margin-left: 200px;">Регистрация</a>
    </form>
  </div>
{% endif %}
{% endblock %}
<!--    <script>-->
<!--        const readMoreButtons = document.querySelectorAll('.read-more');-->
<!--        readMoreButtons.forEach((button, index) => {-->
<!--            button.addEventListener('click', () => {-->
<!--                const articleContent = document.getElementById(`article-${index + 1}`);-->
<!--                articleContent.classList.toggle('show');-->
<!--            });-->
<!--        });-->
<!--    </script>-->

