{% extends "base/base_tmp.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content_news %}
    <div class="news-grid">
        {% for news in list_news %}
        <article class="news-box">
            <div class="news-header">
                <h3 class="news-title">{{ news.description }}</h3>
            </div>
            <div class="news-summary">
                <span>{{ news.author }}</span>
                <span>{{ news.date }}</span>
                <span>{{ news.comments_count }}: <a href="{% url 'base:comments' lang news.news_id username %}">Комментирий</a></span>

            </div>
            <button class="read-more" onclick="window.open('{{ news.url }}', 'blank')">Источник</button>
              {% if user.is_authenticated %}
                {% if news.news_id not in request.session.list_id %}
            <form hx-post="{% url 'base:save_news' lang news.news_id username %}">
                {% csrf_token %}
                <button style="margin:10px;" class="#">Отложить</button></form>
                {% else %}
            <p>Новость отложена</p>
                {% endif %}
              {% endif %}
            <div class="article-content" id="article-{{ forloop.counter }}">
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}
{% block content_user %}
{% if user.is_authenticated %}
    {% include 'base/user_section.html' %}
{% else %}
  <div class="auth-window">
    <h2>Вход или Регистрация</h2>
    <form method="post" action="{% url 'base:login' %}">
      {% csrf_token %}
        {% if form.non_field_errors %}
        <p style="font: italic;margin-bottom: 10px; color: red">Не правильный логин или пароль</p>
        {% endif %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
          {{ form.username }}
      </div>
      <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Пароль:</label>
          {{ form.password }}
      </div>
      <button type="submit" class="btn">Войти</button><a href="{% url 'base:register' lang=lang %}" style="margin-left: 200px;">Регистрация</a>
    </form>
  </div>
{% endif %}
{% endblock %}
<!--    <script>-->
<!--        const readMoreButtons = document.querySelectorAll('.read-more');-->
<!--        readMoreButtons.forEach((button, index) => {-->
<!--            button.addEventListener('click', () => {-->
<!--                const articleContent = document.getElementById(`article-${index + 1}`);-->
<!--                articleContent.classList.toggle('show');-->
<!--            });-->
<!--        });-->
<!--    </script>-->

