{% extends "base/news.html" %}
{% load static %}
{% block content_user %}
  <div class="auth-window">
    <h2>Регистрация</h2>
    <form method="post" action="{% url 'base:register' lang %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
        {% if form.username.errors %}
        <p style="font-size: 12px;margin-bottom: 2px; color: red">Это Имя Занято</p>
        {% endif %}
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Пароль:</label>
        {% if form.password1.errors %}
        <p style="font-size: 12px;margin-bottom: 2px; color: red">Пароль о 8 симвалов: буквы и цифры</p>
        {% endif %}
         {{ form.password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Повторите пароль:</label>
        {% if form.password2.errors %}
          <p style="font-size: 12px;margin-bottom: 2px; color: red">Придумайте другой пароль</p>
        {% endif %}
        {{ form.password2 }}
      </div>
      <button type="submit" class="btn">Зарегистрироваться и Войти</button>
    </form>
{% endblock %}